<!DOCTYPE html>

<head>
    <title>CODENAMES</title>
    <link rel="stylesheet" value="text/css" href="{{ url_for('static', filename='index.css') }}">
    <br>
    <div class="main_title">
        CODENAMES
    </div>
</head>

<body>
    <div class="sub_title" style="color: {{ team }}">
        {{ team }} TURN
    </div>
    <br><br><br>
    <div class="content">
        <form action="/click" method="POST">
            <table class="center">
                <tr>
                    <td><button type="submit" value="apple" name="word">apple</button></td>
                    <td><button type="submit" value="pear" name="word">pear</button></td>
                    <td><button type="submit" value="3" name="word">3</button></td>
                    <td><button type="submit" value="4" name="word">4</button></td>
                    <td><button type="submit" value="5" name="word">5</button></td>
                </tr>
                <tr> 
                    <td><button type="submit" value="6" name="word">6</button></td>
                    <td><button type="submit" value="7" name="word">7</button></td>
                    <td><button type="submit" value="8" name="word">8</button></td>
                    <td><button type="submit" value="9" name="word">9</button></td>
                    <td><button type="submit" value="10" name="word">10</button></td>
                </tr>
                <tr>
                    <td><button type="submit" value="11" name="word">11</button></td>
                    <td><button type="submit" value="12" name="word">12</button></td>
                    <td><button type="submit" value="13" name="word">13</button></td>
                    <td><button type="submit" value="14" name="word">14</button></td>
                    <td><button type="submit" value="15" name="word">15</button></td>
                </tr> 
                <tr>
                    <td><button type="submit" value="16" name="word">16</button></td>
                    <td><button type="submit" value="17" name="word">17</button></td>
                    <td><button type="submit" value="18" name="word">18</button></td>
                    <td><button type="submit" value="19" name="word">19</button></td>
                    <td><button type="submit" value="20" name="word">20</button></td>
                </tr>
                <tr>
                    <td><button type="submit" value="21" name="word">21</button></td>
                    <td><button type="submit" value="22" name="word">22</button></td>
                    <td><button type="submit" value="23" name="word">23</button></td>
                    <td><button type="submit" value="24" name="word">24</button></td>
                    <td><button type="submit" value="25" name="word">25</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>